@import './_normalize.css';
@import './_variables.css';

.authorization__form {
  background-color: white; /*var(--main-gray)*/
  width: 100%;
  padding: 15px;
  border-radius: 0.5rem;
  border: solid 1px #149997; /*var(--light)*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.authorization__title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
  color: #233043;
  font-weight: 300;
}

.authorization__subtitle {
  color: #149997;
  background: none;
  border: none;
  font-weight: 100;
  margin-bottom: 20px;
}
.authorization__subtitle:hover {
  cursor: pointer;
  text-decoration: underline;
}
